* text=auto eol=lf
*.zip binary
docs/prompts/DEV-02.01.md binary
docs/prompts/DEV-02.02.md binary
docs/prompts/DEV-03.01.md binary
docs/prompts/DEV-03.02.md binary
docs/prompts/DEV-03.03.md binary
docs/prompts/DEV-03.03R.md binary
docs/prompts/DEV-03.04.md binary
docs/prompts/DEV-03.04R.md binary
docs/prompts/DEV-04.01.md binary
docs/prompts/DEV-04.01R.md binary
docs/prompts/DEV-04.01R2.md binary
docs/prompts/DEV-04.02.md binary
docs/prompts/DEV-04.03.md binary
docs/prompts/DEV-04.03R.md binary
docs/prompts/DEV-04.04.md binary
docs/prompts/DEV-05.01.md binary
docs/prompts/DEV-05.02.md binary
docs/prompts/DEV-05.03.md binary
docs/prompts/DEV-05.03R.md binary
docs/prompts/DEV-05.03R2.md binary
docs/prompts/DEV-06.01.md binary
docs/prompts/DEV-06.01R.md binary
docs/prompts/DEV-06.02.md binary
docs/prompts/DEV-06.03.md binary
docs/prompts/DEV-07.01.md binary
docs/prompts/DEV-07.02.md binary
docs/prompts/DEV-07.03.md binary
docs/prompts/DEV-07.04.md binary
calibration/microphones/dayton_imm6c/CMM29939.txt binary
docs/prompts/DEV-07.04R.md binary
