* text=auto eol=lf
*.zip binary
docs/prompts/DEV-02.01.md binary
docs/prompts/DEV-02.02.md binary
docs/prompts/DEV-03.01.md binary
docs/prompts/DEV-03.02.md binary
docs/prompts/DEV-03.03.md binary
docs/prompts/DEV-03.03R.md binary
docs/prompts/DEV-03.04.md binary
docs/prompts/DEV-03.04R.md binary
docs/prompts/DEV-04.01.md binary
